.map{
    display: flex;
    align-items: center;
    float: left;
    z-index: 1;
    position: relative;
  }
  .Button{
   display: none;
  }
@media (max-width:600px){
  .Button{
    display:block;
    position: absolute;
    margin: auto;
    z-index: 100;
    bottom:0;
    left:0;
  }
}